@font-face {
   font-family: 'Inter';
   font-style: normal;
   font-display: swap;
   font-weight: 100;
   src: url('file:///home/p/%D0%94%D0%BE%D0%BA%D1%83%D0%BC%D0%B5%D0%BD%D1%82%D1%8B/mobirise/razmarin/fonts/Inter/100.ttf') format('truetype');
}
@font-face {
   font-family: 'Inter';
   font-style: normal;
   font-display: swap;
   font-weight: 200;
   src: url('file:///home/p/%D0%94%D0%BE%D0%BA%D1%83%D0%BC%D0%B5%D0%BD%D1%82%D1%8B/mobirise/razmarin/fonts/Inter/200.ttf') format('truetype');
}
@font-face {
   font-family: 'Inter';
   font-style: normal;
   font-display: swap;
   font-weight: 300;
   src: url('file:///home/p/%D0%94%D0%BE%D0%BA%D1%83%D0%BC%D0%B5%D0%BD%D1%82%D1%8B/mobirise/razmarin/fonts/Inter/300.ttf') format('truetype');
}
@font-face {
   font-family: 'Inter';
   font-style: normal;
   font-display: swap;
   font-weight: 500;
   src: url('file:///home/p/%D0%94%D0%BE%D0%BA%D1%83%D0%BC%D0%B5%D0%BD%D1%82%D1%8B/mobirise/razmarin/fonts/Inter/500.ttf') format('truetype');
}
@font-face {
   font-family: 'Inter';
   font-style: normal;
   font-display: swap;
   font-weight: 600;
   src: url('file:///home/p/%D0%94%D0%BE%D0%BA%D1%83%D0%BC%D0%B5%D0%BD%D1%82%D1%8B/mobirise/razmarin/fonts/Inter/600.ttf') format('truetype');
}
@font-face {
   font-family: 'Inter';
   font-style: normal;
   font-display: swap;
   font-weight: 700;
   src: url('file:///home/p/%D0%94%D0%BE%D0%BA%D1%83%D0%BC%D0%B5%D0%BD%D1%82%D1%8B/mobirise/razmarin/fonts/Inter/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Inter';
   font-style: normal;
   font-display: swap;
   font-weight: 800;
   src: url('file:///home/p/%D0%94%D0%BE%D0%BA%D1%83%D0%BC%D0%B5%D0%BD%D1%82%D1%8B/mobirise/razmarin/fonts/Inter/800.ttf') format('truetype');
}
@font-face {
   font-family: 'Inter';
   font-style: normal;
   font-display: swap;
   font-weight: 900;
   src: url('file:///home/p/%D0%94%D0%BE%D0%BA%D1%83%D0%BC%D0%B5%D0%BD%D1%82%D1%8B/mobirise/razmarin/fonts/Inter/900.ttf') format('truetype');
}
@font-face {
   font-family: 'Inter';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///home/p/%D0%94%D0%BE%D0%BA%D1%83%D0%BC%D0%B5%D0%BD%D1%82%D1%8B/mobirise/razmarin/fonts/Inter/regular.ttf') format('truetype');
}
